Test.360doo.com/Service References/ServiceReference1/PAHaoCheTokenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RequestAccessToken">
        <s:complexType />
      </s:element>
      <s:element name="RequestAccessTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAccessTokenResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestAccessTokenSoapIn">
    <wsdl:part name="parameters" element="tns:RequestAccessToken" />
  </wsdl:message>
  <wsdl:message name="RequestAccessTokenSoapOut">
    <wsdl:part name="parameters" element="tns:RequestAccessTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="PAHaoCheTokenServiceSoap">
    <wsdl:operation name="RequestAccessToken">
      <wsdl:input message="tns:RequestAccessTokenSoapIn" />
      <wsdl:output message="tns:RequestAccessTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PAHaoCheTokenServiceSoap" type="tns:PAHaoCheTokenServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestAccessToken">
      <soap:operation soapAction="http://tempuri.org/RequestAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PAHaoCheTokenServiceSoap12" type="tns:PAHaoCheTokenServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestAccessToken">
      <soap12:operation soapAction="http://tempuri.org/RequestAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PAHaoCheTokenService">
    <wsdl:port name="PAHaoCheTokenServiceSoap" binding="tns:PAHaoCheTokenServiceSoap">
      <soap:address location="http://e.360doo.com/service/PAHaoCheTokenService.asmx" />
    </wsdl:port>
    <wsdl:port name="PAHaoCheTokenServiceSoap12" binding="tns:PAHaoCheTokenServiceSoap12">
      <soap12:address location="http://e.360doo.com/service/PAHaoCheTokenService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>